{% extends "servalope/base.html" %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-6 columns">
      <p>
        Hi! Thanks for signing up with us.  Please fill out this registration form to start adding new mailings and guests!
      </p>
    </div>
    <div class="large-6 columns">
      {{ form.errors }}

      <form method="post" action="{% url 'servalope:register' %}">
      {% csrf_token %}
      {{ form }}

      <input type="submit" value="Register" />
      <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
{% endblock %}
