{% extends "servalope/base.html" %}

{% block title %}
  Mailings
{% endblock %}

{% block content %}
  <h2>Mailing List</h2>

  <div class="row">
    <div class="large-4 columns">
      <form action="{% url 'servalope:create-mailing' %}" method="post">
        {% csrf_token %}
        {{ create_form }}
        <input type="submit" value="Create a new Mailing">
      </form>
    </div>
    <div class="large-8 columns">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Message</th>
            <th>Customer</th>
          </tr>
        </thead>
        <tbody>
          {% for mailing in mailing_list %}
          <tr>
            <td><a href="{% url 'servalope:mailing' mailing.id %}">{{ mailing.name }}</a></td>
            <td>{{ mailing.date }}</td>
            <td>{{ mailing.message }}</td>
            <td>{{ mailing.customer }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
